# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\recognition_pic_sys\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
